.nav-bar{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: whitesmoke;
  height: 45px;
  align-items: center;
  margin: 0 auto;
}

.nav-bar a{
  text-decoration: none;
  font-size: 20px;
  color: var(--main-font-color);
}

