.download-resume{
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.download-resume a{
  text-decoration: none;
}

.content-container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 36px;
}

.button-download{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 24px;
  border-radius: 5px;
  border-color: #1C1C1C;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  color: #1C1C1C;
  background-color: whitesmoke;
  transition: all 0.5s;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 180px;
  margin-top: 20px;
}

.button-download:hover{
  cursor: pointer;
  filter: brightness(110%);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.content-container h2{
  margin-bottom: 0;
  border-bottom: 2px solid;
  padding-bottom: 5px;
  padding-left: 10px;
  border-left: 2px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(41,41,41,1) 33%, rgba(205,205,205,1) 79%, rgba(255,255,255,1) 100%);
}

.button-download img{
  max-width: 30px;
  max-height: 30px;
}

.tecnologies{
  display: flex;
  flex-direction: column;
}

.tecnologies-icons{
  margin-top: 20px;
  display: grid;
  grid-template-columns: 70px 70px 70px;
  grid-gap: 35px;
  align-items: center;
  justify-content: center;
}

.last{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}

.tecnologies img{
  height: 70px;
  width: 70px;
}