.content{
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  margin-top: 70px;
  justify-content: space-evenly;
  align-items: center;
}

.description{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
  animation: splash-in 0.6s forwards;
}

.description h1{
  font-size: 30px;
  text-align: center;
  font-weight:400;
}

.description p{
  font-size: 18px;
  margin-bottom: 30px;
}

.description button{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 24px;
  border-radius: 5px;
  border-style: none;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  color: whitesmoke;
  background-color: #1C1C1C;
  transition: all 0.5s;
}

.description button:hover{
  cursor: pointer;
  filter: brightness(150%);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.perfil-photo-main img{
  max-width: 600px;
  max-height: 600px;
  margin-right: 50px;
  border-radius: 5px;
  filter: grayscale(100%);
  box-shadow: rgba(50, 50, 93, 0.315) 0px 50px 100px -20px, rgba(0, 0, 0, 0.6) 0px 30px 60px -30px;
}

.perfil-photo-main{
  display: flex;
  margin-top: 30px;
  max-width: 40%;
  justify-content: center;
  align-items: center;
  animation: splash-in 0.6s forwards;
}

@keyframes splash-in{
  from{
    transform: scale(0);
  }
  to{
    transform: scale(1);
  }
}