.all-about{
  max-width: 50%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-left: 90px;
  padding-right: 90px;
  padding-bottom: 60px;
  border-left: 2px solid whitesmoke;
  border-right: 2px solid whitesmoke;
  border-bottom: 2px solid whitesmoke;
  animation: splash-in 0.6s forwards;
}

.card-container{
  display: flex;
  justify-content: center;
}

.splash-in-animation{
  animation: splash-in 0.6s forwards;
}

.splash-out-animation{
  animation: splash-out 0.6s forwards;
}

.horizontal-line{
  display:none;
  border-top: 2px solid rgb(230, 230, 230);
}

.text{
  text-align: justify;
  font-size: 18px;
  line-height: 26px;
}

.grayscale{
  filter: grayscale(100%);
}

.header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  
}

.arrow{
  background-image: url(../../assets/angle-up-solid.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  border: none; 
  border-radius: 20px;
  padding: 16px 16px;
  cursor: pointer; 
}

.arrow:hover{
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.up{
  animation: rotate-up 0.6s forwards;
}

.up:hover{
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.down{
  animation: rotate-down 0.6s forwards;
}

.down:hover{
  box-shadow: rgba(0, 0, 0, 0.3) 0px -19px 38px, rgba(0, 0, 0, 0.22) 0px -15px 12px;
}

@keyframes splash-in{
  from{
    transform: scale(0);
  }
  to{
    transform: scale(1);
  }
}

@keyframes splash-out{
  from{
    transform: scale(1);
  }
  to{
    transform: scale(0);
  }
}

@keyframes rotate-down{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(180deg);
  }
}

@keyframes rotate-up{
  from{
    transform: rotate(180deg);
  }
  to{
    transform: rotate(0deg);
  }
}

